.task {
    display: flex;
    gap: 10px;
    margin-bottom: 5px;
    padding: 6px;
    border: 1px solid rgb(223, 223, 223);
}

.task h2 {
    flex-grow: 1;
    margin: 0;
}

.task button {
    background-color: cornflowerblue;
    border: none;
    color: white;
    border-radius: 5px;
}

.task button:disabled {
    background-color: rgb(175, 191, 221);

}
