.information{
    display: flex;
    gap: 20px;
    padding: 10px;
    border-bottom: 4px solid rgb(1, 1, 30);
}

.information h2 {
    font-size: 12px;
    padding: 10px;
    background-color: rgb(149, 150, 207);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(43, 17, 192) 0px 0px 0px 3px;
}

