.delete {
  padding: 20px;
  display: flex;
  gap: 10px;
  border-top: 4px solid rgb(1, 1, 30);
}

.delete button {
  flex-grow: 1;
  background-color: brown;
  color: aliceblue;
  border-radius: 10px;
  border: none;
  padding: 6px;
}
